#
# Voucher Pool (https://voucherpool.erdemkose.com)
#
# @link      https://github.com/erdemkose/voucherpool
# @copyright Copyright (c) 2018 Erdem Köse
# @license   https://github.com/erdemkose/voucherpool/blob/master/LICENSE (MIT License)
#

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond "%{REQUEST_URI}" "^/api/"
  RewriteRule ^ /index.php [QSA,L]
</IfModule>

<IfModule dir_module>
    DirectoryIndex index.html
</IfModule>